name: "Merge Upstream"

on:
  schedule:
    - cron: "30 20 * * *"
  workflow_dispatch:

jobs:
  pull:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - run: | 
        git config --global user.name 'Upstream Merge Action'
        git config --global user.email '50966843+S-S-X@users.noreply.github.com'
        git remote add -f upstream "https://cheapiesystems.com/git/digistuff"
        git fetch upstream
        git checkout -B upstream
        git pull upstream master
      shell: bash
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v3
      with:
        branch: upstream 
